* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 1000px;
  margin: 0 auto;
  margin-top: 60px;
}

.container h1 {
  padding-bottom: 32px;
}

.container div {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.container div label {
  font-size: 20px;
}

.container div input {
  max-width: 300px;
  font-size: 20px;
}

form > input {
  font-size: 20px;
  margin-top: 16px;
  width: 200px;
  height: 32px;
}